[Unit]
Description=Simple Go web server for serving static pages under letsencrypt
After=multi-user.target

[Service]
ExecStart=/home/mjd/Projects/lucindadilworth.com/webserver-pi -domain lucinda.dilworth.uk -d /home/mjd/Projects/lucindadilworth.com
Type=simple

[Install]
WantedBy=multi-user.target